{% extends 'base.html' %}
{% block body %} 

<style>
    
    *,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.carosel {
  margin-top:2%;
  width: 100vw;
  height: 100vh;
  position: sticky;
  overflow-y:hidden;
    overflow-x:hidden;
}

.carosel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {

  width: 100%;
  height: 90%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carosel-button {
  position: absolute;
  z-index: 2;
  background: none;
  font-size: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carosel-button:hover,
.carosel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carosel-button:focus {
  outline: 1px solid black;
}

.carosel-button.prev {
  left: 1rem;
}

.carosel-button.next {
  right: 1rem;
}

.nbtm{
    margin-top: -70px; 
}

.behind{
  z-index: 0; 
}

hr.solid {
  border-top: 3px solid #9575cd;
}

.algn{
  height: 300px;
}

</style>

<section aria-label="Newest Photos">
    <div class="carosel" data-carosel>
        <button class="carosel-button prev" data-carosel-button="prev">&#8656;</button>
        <button class="carosel-button next" data-carosel-button="next">&#8658;</button>
      <ul data-slides>
        <li class="slide" data-active>
        <img src="static/estonia.jpg" alt="nature image #1" />
         </li> 
         <li class="slide">
        <img src="static/booth.jpg" alt="nature image #2" />
         </li>
         {% comment %} <li class="slide">
        <img src="static/booth.jpg" alt="nature image #3"/>
         </li> {% endcomment %}
      </ul>
      </div>
      </div>
    </div>
</section>
    

<section class="text-gray-600 body-font nbtm behind">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">My Awards and achievements</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Over the past 3 years, I have won awards in Robotics and Academics. Since a very young age,
        I have been participating in robotics competitions while being one of the highest scorers in school.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative behind">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="static/trophies.jpeg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            {% comment %} <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2> {% endcomment %}
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">First Lego League 2017-2018</h1>
            <p class="leading-relaxed">Our team, Livewires, won the best robot performance and best robot design award 
              at the regional level held in Mumbai, India. We also won the 
              third prize and the international level held in Estonia, 
              Europe for our project, Flexiflush. </p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative behind">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="static/2019.jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            {% comment %} <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2> {% endcomment %}
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">First Lego League 2018-2019</h1>
            <p class="leading-relaxed">Our team G-Force won the best robot design award at the national level. I also had the opportunity to work on a Curiosity Rover, a robot system built to navigate the surface of Mars to find useful resources and establish human life. </p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative behind">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="static/wro.jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            {% comment %} <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2> {% endcomment %}
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">World Robot Olympiad</h1>
            <p class="leading-relaxed">Our team, Neutrons, were the runner ups at the regional level of World Robot Olympiad held in Mumbai, India. We built and programmed one of the fastest and most efficient robots to solve a maze and had the chance to compete at the nationals level. </p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative behind algn">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="static/DSA_c.jpeg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            {% comment %} <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2> {% endcomment %}
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">District Authority Scholarship</h1>
            <p class="leading-relaxed">I was awarded the District Authority Scholarship in Technical and Trades for achieving distinction in Robotics and Computer Science and being a good leader and role model in these subjects. </p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4 algn">
        <div class="flex relative behind algn">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="static/STA.jpeg" style= "height: 300px;">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            {% comment %} <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2> {% endcomment %}
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Surrey Teacher's Award</h1>
            <p class="leading-relaxed">I was awarded the Surrey Teacher's Association award for academic excellence and extracurricular involvement in grade 12.</p>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="solid">

  <section class="text-gray-600 body-font nbtm">
    <div class="container px-5 py-24 mx-auto">
      <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Testimonials</h1>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/2 w-full">
          <div class="h-full bg-gray-100 p-8 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
              <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
            </svg>
            <p class="leading-relaxed mb-6">Sidak is a conscientious student who worked very hard on everything he partakes, with a thirst for 
              computer knowledge and an eye on learning anything he can. He has high expectations for himself for 
              his work ethics, both in the level of learning and in completing all work on time. His help of his fellow colleagues in both Math and Computer 
              Science show a talent for teaching, and a consideration of others.</p>
            <a class="inline-flex items-center">
              {% comment %} <img alt="testimonial" src="https://dummyimage.com/106x106" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center"> {% endcomment %}
              <span class="flex-grow flex flex-col pl-4">
                <span class="title-font font-medium text-gray-900">Nicole Painchaud</span>
                <span class="text-gray-500 text-sm">Computer Science professor</span>
              </span>
            </a>
          </div>
        </div>
        <div class="p-4 md:w-1/2 w-full">
          <div class="h-full bg-gray-100 p-8 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
              <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
            </svg>
            <p class="leading-relaxed mb-6">Sidak's method is customisable and he is very good at communicating to students regarding Python. He was most helpful for my son's computer science needs.</p>
            <a class="inline-flex items-center">
              {% comment %} <img alt="testimonial" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center"> {% endcomment %}
              <span class="flex-grow flex flex-col pl-4">
                <span class="title-font font-medium text-gray-900">Justin Gulati</span>
                <span class="text-gray-500 text-sm">Tutee's parent</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

<script>
    const buttons = document.querySelectorAll(
  '[data-carosel-button]'
);

buttons.forEach((button) => {
  button.addEventListener('click', () => {
    const offset =
      button.dataset.caroselButton === 'next'
        ? 1
        : -1;
    const slides = button
      .closest('[data-carosel]')
      .querySelector('[data-slides]');

    const activeSlide = slides.querySelector(
      '[data-active]'
    );
    let newIndex =
      [...slides.children].indexOf(activeSlide) +
      offset;
    if (newIndex < 0)
      newIndex = slides.children.length - 1;
    if (newIndex >= slides.children.length)
      newIndex = 0;

    slides.children[
      newIndex
    ].dataset.active = true;
    delete activeSlide.dataset.active;
  });
});
</script>
{% endblock body %}