{%extends "base.html"%}
{% block body %} 

<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<style>
  .parallax {
    /* The image used */
    background-image: url("static/writing.jpg");
  
    /* Set a specific height */
    min-height: 200px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #header{
    position: absolute;
    z-index: 1000;
    top: 200px;
    left: 200px;
    color: blue;
  }

  .bg-m{
    background-color: rgb(245,245,245);
  }
  .ani{
    font-size: 20px; 
  }

  ul.a {
    text-indent: 5px;
    {% comment %} list-style-type: circle; {% endcomment %}
  }

  .nbtm{
    margin-bottom: -130px;
  }

  .dim{
    height: 610px; 
    width: 305px;
    margin-left: 8%;
  }

  .hgt{
    line-height: 2;
    margin-top: 30px;
  }

  .ttl{
    font-size: 30px;
  }
  .ht{
    line-height: 2.5;
  }
  
  </style>

<!-- Background image -->
<section>
<div class="p-12 text-center relative overflow-hidden bg-no-repeat bg-cover h-96 lg:h-screen" style="background-image: url('static/books.jpg'); height: 70%; ">
<div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed" style="background-color: rgba(2, 56, 53, 0.7)">
  <div class="flex justify-center items-center h-full">
    <div class="text-white">
      <h2 style= "font-size: 50px; line-height: 1.7;" class="font-semibold text-4xl mb-4">
        Welcome to Apricus Learning
      </h2>
      {% comment %} <h4 style="font-size: 20px; " class="font-semibold text-xl mb-6">
        One on one tutoring to meet your individual needs!
      </h4> {% endcomment %}

      <div id="container">
            <div id="text" class="ani font-semibold text-xl mb-6"></div>
        </div>  

    </div>
  </div>
</div>
</div>
</section>


<section class="text-gray-600 body-font nbtm">
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Our Courses</h1>
      <p style= "line-height: 2; color: grey; "class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">At Apricus Learning, several Math, Science and coding courses are offered. With each course, practice material will be provided to ensure results.</p>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
      </div>
    {% comment %} </div> {% endcomment %}


  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="static/math.jpg" alt="blog">
          <div class="p-6">
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Mathematics</h1>
            <p class="ht leading-relaxed mb-3">We offer Math Courses from grades 8-12. Each course is designed according to the BC curriculum. All students will recieve a final exam/review package that will gurantee their expertise in the subjects.<br>
              <b>Rates:</b>
              <ul class= "a">
                <li>Math 8/9: $20/hr</li>
                {% comment %} <li>Math 9: $20/hr</li> {% endcomment %}
                <li>Pre Calculus 11/12: $25/hr</li>
                <li>Calculus 12: $35/hr</li>
              </ul> </p>
            <div class="flex items-center flex-wrap ">
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="static/physics.jpg" alt="blog">
          <div class="p-6">
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Physics</h1>
            <p class="ht leading-relaxed mb-3">We teach Physics to students in Grades 10, 11 and 12. Our way of teaching is highly logical with very less memorization. This assures that the student understands the material and
              can solve a wide variety of problems. <br>
              <b>Rates:</b>
              <ul class= "a">
                <li>Physics 10: $18/hr</li>
                {% comment %} <li>Math 9: $20/hr</li> {% endcomment %}
                <li>Physics 11: $25/hr</li>
                <li>Physics 12: $28/hr</li></p>
            <div class="flex items-center flex-wrap">
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="static/coding.jpg" alt="blog">
          <div class="p-6">
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Computer Programming</h1>
            <p class="ht leading-relaxed mb-3">At Apricus Learning, we teach Python from Grades 7-12. They will learn about arrays, lists, functions classes, files, etc. They will also have a chance to put their 
              knowledge to use by working on projects like Hangman game,
              sudoku solvers and many more. <br>
               <b>Rates:</b>
               <ul class= "a">
                 <li>Python: $25/hr </li>
               </ul> </p>.</p>
            <div class="flex items-center flex-wrap ">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="parallax"></div>


<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h1 style="font-weight: bold;" class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Benefits of our tutoring program</h1>
      <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
      {% comment %} <p style= "line-height: 2; color: grey; "class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum iste deserunt provident aperiam totam eligendi deleniti rem odit ut facilis.</p> {% endcomment %}
    </div>
    <div style= "height: 400px;" class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/3">
        <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
          <h1 class="ttl title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">Practice Material</h1>
          <p class="hgt leading-relaxed mb-3">At Apricus Learning, the student will receive several different practice problems. The practice problems vary in difficulty and 
            variety so the student can get a good grasp of the topic. In addition, many examples will be solved during 
            the lesson to ensure the that the student understands the content.</p>
          <div class="text-center mt-2 leading-none flex justify-center absolute bottom-0 left-0 w-full py-4">
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/3">
        <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
          <h1 class="ttl title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">Logic Based Learning</h1>
          <p class="hgt leading-relaxed mb-3">At Apricus Learning, our way of teaching is logic based. We believe that students best learn when they understand the hows and whys of the topic rather than memorization. Therefore, for most topics, students will recieve the background information and real life examples. </p>
          <div class="text-center mt-2 leading-none flex justify-center absolute bottom-0 left-0 w-full py-4">
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/3">
        <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
          <h1 class="ttl title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">Experienced Tutor</h1>
          <p class="hgt leading-relaxed mb-3">Our tutor, Sidak Arora, has more than 2 years of experience in tutoring. He has tutored students 
            in Math 9, Pre Calculus 10 and Computer programming. He has scored over 98% in Pre Calculus 11 and 12 and 
            100% in Computer Science and imparts his way to all his students.  </p>
          <div class="text-center mt-2 leading-none flex justify-center absolute bottom-0 left-0 w-full py-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %} <script src= "static/main.js"> {% endcomment %}
  <script type="text/javascript">

  // List of sentences
  var _CONTENT = ["One on One Tutoring!", "Dynamic Course Material!", "Extra practice to ensure results!", "Improvement is guranteed!"];
  
  // Current sentence being processed
  var _PART = 0;
  
  // Character number of the current sentence being processed 
  var _PART_INDEX = 0;
  
  // Holds the handle returned from setInterval
  var _INTERVAL_VAL;
  
  // Element that holds the text
  var _ELEMENT = document.querySelector("#text");
  
  // Implements typing effect
  function Type() { 
      var text =  _CONTENT[_PART].substring(0, _PART_INDEX + 1);
      _ELEMENT.innerHTML = text;
      _PART_INDEX++;
  
      // If full sentence has been displayed then start to delete the sentence after some time
      if(text === _CONTENT[_PART]) {
          clearInterval(_INTERVAL_VAL);
          setTimeout(function() {
              _INTERVAL_VAL = setInterval(Delete, 50);
          }, 1000);
      }
  }
  
  // Implements deleting effect
  function Delete() {
      var text =  _CONTENT[_PART].substring(0, _PART_INDEX - 1);
      _ELEMENT.innerHTML = text;
      _PART_INDEX--;
  
      // If sentence has been deleted then start to display the next sentence
      if(text === '') {
          clearInterval(_INTERVAL_VAL);
  
          // If last sentence then display the first one, else move to the next
          if(_PART == (_CONTENT.length - 1))
              _PART = 0;
          else
              _PART++;
          _PART_INDEX = 0;
  
          // Start to display the next sentence after some time
          setTimeout(function() {
              _INTERVAL_VAL = setInterval(Type, 100);
          }, 200);
      }
  }
  
  // Start the typing effect on load
  _INTERVAL_VAL = setInterval(Type, 100);
</script>
  
{% endblock body %}